*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#111;
color:#fff;
}

header{
background:#1b1b1b;
padding:15px;
position:sticky;
top:0;
box-shadow:0 0 20px #ff66cc;
}

.logo{
font-size:34px;
text-align:center;
color:#ff8de9;
font-weight:bold;
margin-bottom:15px;
}

.menu{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:10px;
}

.menu-btn{
background:#ff4fc3;
color:white;
border:none;
padding:12px 20px;
border-radius:30px;
font-size:16px;
cursor:pointer;
}

.banner img{
width:100%;
display:block;
}

.pesquisa{
padding:20px;
text-align:center;
}

.pesquisa input{
width:90%;
max-width:500px;
padding:15px;
border-radius:30px;
border:none;
font-size:18px;
}

.categorias{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:10px;
padding:15px;
}

.categorias button{
background:#7b2cff;
color:white;
border:none;
padding:10px 18px;
border-radius:30px;
cursor:pointer;
}

.titulo{
text-align:center;
color:#ff8de9;
margin:25px;
font-size:32px;
}

.loja{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:20px;
padding:20px;
  }
